@font-face {
    font-family: 'a Ape Mount';
    src: url('../fonts/ApeMount-WyPM9.ttf');
}
@font-face {
    font-family: 'a Abrushow';
    src: url('../fonts/Abrushow-ALwDD.ttf');
}
@font-face {
    font-family: 'Neoneon';
    src: url('../fonts/Neoneon-3zaD6.otf');
}
@font-face {
    font-family: 'Beon';
    src: url('../fonts/BeonMedium-7Z34.ttf');
}

* {
	margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	font-size: 30px;
}

#section1 {
	padding-top: 40px;
	height: calc(100vh - 40px);
	background-image: linear-gradient(to right bottom, rgb(255, 92, 228), rgb(62, 62, 190));
}

#menuTop {
	position: fixed;
	width: 100vw;
	height: 40px;
	font-family: "Beon";
	text-shadow: 0 0 5px white;
}
#menuTop img {
	float: left;
	height: 40px;
	width: 40px;
}

#menuNoImg {
	float: left;
	width: calc(100% - 40px);
	height: 40px;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.308), rgba(211, 211, 211, 0.0))
}

#menuContent {
	float: left;
	height: auto;
	margin: 0 auto;
}

.menuItem {
	float: left;
	padding: 5px 10px;
	user-select: none;
	cursor: pointer;
	text-decoration-color: rgba(143, 126, 126, 0.438);
	transition: all 0.5s ease;
	animation: slideIn 1s forwards;
	animation-delay: calc(var(--order) * 100ms);
	opacity: 0;
}
.menuItem:hover {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.26);
	text-decoration-thickness: 2px;
}
@keyframes slideIn {
	from{transform: perspective(200px) translate3d(-100vw, 0, -300px);}
	to{transform: translate3d(0, 0, 0);}
	100% {opacity: 100%;}
}

#menuImg {
	right: 0;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
}

#menuCollapsed {

}

/* hm

<input id="searchInput" onmouseover="slideOverlay(true, false)"  onmouseout="leaveTrue(); isFinishedTrue(); slideOverlay(false, false)" onfocusin="slideOverlay(true, false)" onfocusout="leaveTrue(); isFinishedTrue(); slideOverlay(false, false)" placeholder="Stichwort eingeben...">
            <div id="overlappingDivInput" onmouseover="leaveFalse(); slideOverlay(true, true)" onmouseout="leaveTrue(); isFinishedTrue(); slideOverlay(false, true)" onclick="suchen();">
                <p id="enterText">Suchen</p>
            </div>

#searchInput {
    outline: none;
    height: 30px;
    font-size: 17px;
    width: 144px;
    padding: 0px;
    position: absolute;
    border-color: gray;
    border-radius: 15px;
    border-width: 0px;
    padding-left: 31px;
    padding-right: 5px;
    transition: all 0.3s ease;
    margin-top: 5px;
}

#overlappingDivInput {
    height: 30px;
    width: 30px;
    background-color: #00c5e5;
    pointer-events: none;
    opacity: 100%;
    border-color: transparent;
    border-radius: 15px;
    border-width: 0px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    margin-top: 5px;
}
#overlappingDivInput:hover {
    background-color: #00b0e5;
}

#enterText {
    color: black;
    text-shadow: 0 0 4px white;
    opacity: 0%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    user-select: none;
}*/

@media only screen and (max-width: 600px) {
    #menuNoImg {
		font-size: 0;
        pointer-events: none;
		width: calc(100% - 40px - 40px);
	}
	#menuImg {
		opacity: 100%;
		pointer-events: all;
	}
}